[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
carrera = {path = "."}

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-sugar = "*"
coverage = "*"
coveralls = "*"
carrera = {editable = true, path = "."}

[requires]
python_version = "3.7"
